.git
.env*
!.env.example
**/.env*
**/*.key
**/*.pem
**/.next
**/.turbo
coverage
node_modules
.pnpm-store
playwright-report
test-results
**/playwright-report
**/test-results
**/*.test.ts
**/*.test.tsx
*.log
